<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter App</title>
</head>
<body>
    <h1>Counter</h1>
    <p> {{ session['count'] }} </p>
    <form action="/destroy_session">
        <input type="submit" value="Reset">
    </form>
    <form action="/add_two">
        <input type="submit" value="Add two visits!">
    </form>
</body>
</html>