<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground</title>
    <style>
    * {
        margin: 0px;
        padding: 0px;
    }
    .box {
        width: 15rem;
        height: 15rem;
        background-color: blue;
        margin: 10px 15px;
        display: inline-block;
    }
    h3 {
        margin: 0px auto;
    }
    </style>
</head>
<body>
    <h3>Welcome!</h3>
    {% for x in range(0,box_number): %}
        <div class="box" style="background-color: {{ box_color }}"></div>
    {% endfor %}
</body>
</html>